.work-item {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(3, 1fr);
    > .date-container {
        grid-column: 2/-1;
        grid-row: 1/3;
    }
    /* company name */
    > :first-child {
        font-style: normal;
        font-weight: 1000;
    }
    /* title */
    :nth-child(3) {
        grid-row: 2/3;
        color: var(--changing-color);
    }
    /* respons */
    > :last-child {
        grid-column: 1/-1;
        grid-row: 3/4;
        margin: 0;
        font-style: normal;
    }
}
.work-list {
    padding-left: 1rem;
}
