#root {
    display: grid;
    align-items: start;
    gap: 1rem 10%;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: min-content min-content;
}

.disabled {
    display: none;
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
header {
    grid-column: 1/-1;
    text-align: center;
}
.main-aside {
    width: 400px;
    grid-row: 2/-1;
    > :last-child {
        margin-bottom: 2rem;
    }
}
.main-aside,
main {
    padding: 1rem;
    border: 1px solid black;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
main {
    width: 700px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 1rem;
    > * {
        word-break: break-all;
    }
}
.centered-main {
    grid-column: 1/-1;
}
.pictogram {
    width: 1em;
}

.cv-aside {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -30px;
    right: -30px;
    grid-column: 2/-1;
    grid-row: 1/4;
    padding: 1rem;
    color: white;
    border-color: white;
    background-color: #535bf2;
}
.user-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}
.work-item {
    display: grid;
    grid-template-columns: 1fr max-content;
    > .date-container {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    > :first-child {
        font-weight: 1000;
    }
    > :last-child {
        grid-column: 1/-1;
        margin: 0;
        font-style: normal;
    }
}

@media (width <= 1300px) {
    :root {
        font-size: 0.8rem;
    }
    #root {
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        grid-template-columns: minmax(100px, 1fr);
    }
    main {
        width: min(90%, 400px);
    }

    .main-aside {
        width: min(90%, 400px);
    }
}
