#root {
    margin: 0 auto;
    display: grid;
    align-items: start;
    gap: 1rem 10%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: min-content 2fr;
    grid-auto-rows: 2fr;
}
.h2-image {
    width: 2rem;
}

.h2-section {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: end;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    > h2 {
        margin-bottom: 0;
        border-bottom: none;
    }
}
.h2-pictogram {
    width: 2rem;
    transition: 0.5s ease;
}
.rotated {
    transform: rotate(180deg);
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.education {
    padding-left: 2rem;
    list-style-type: circle;
}
header {
    grid-column: 1/-1;
    text-align: center;
}
.main-aside {
    grid-row: 2/-1;
}
.main-aside,
main {
    padding: 1rem;
    border: 1px solid black;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 5fr 5fr;
    gap: 1rem;
    > * {
        overflow-wrap: break-word;
    }
}
.pictogram {
    width: 1em;
}
.cv-aside {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -30px;
    right: -30px;
    grid-column: 2/-1;
    grid-row: 1/4;
    padding: 1rem;
    color: white;
    border-color: white;
    background-color: #535bf2;
}
.user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}
