#root {
    margin: 0 auto;
    display: grid;
    align-items: start;
    gap: 1rem 10%;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: min-content 2fr;
    grid-auto-rows: 2fr;
}

.disabled {
    display: none;
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
header {
    grid-column: 1/-1;
    text-align: center;
}
.main-aside {
    grid-row: 2/-1;
    > :last-child {
        margin-bottom: 2rem;
    }
}
.main-aside,
main {
    padding: 1rem;
    border: 1px solid black;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 5fr 5fr;
    gap: 1rem;
    > * {
        overflow-wrap: break-word;
    }
}
.centered-main {
    margin-left: calc(100% / 3.25);
    margin-right: calc(100% / 3.25);
    grid-column: 1/-1;
}
.pictogram {
    width: 1em;
}

.cv-aside {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -30px;
    right: -30px;
    grid-column: 2/-1;
    grid-row: 1/4;
    padding: 1rem;
    color: white;
    border-color: white;
    background-color: #535bf2;
}
.user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}
